body {
    padding-top: 50px;
    padding-bottom: 20px;
  
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#map {
    height: 500px;
}

.sa {
    background-color: #00ff3a;
    width: 300px;
    height: 150px;
}


.section-plan {
    padding: 10px;
}

.plan-box {
    margin: 0px;
    border: 1px solid #D9544F;
    border-radius: 2px;
}

.plan-danger {
    background-color: #D9544F;  

}

.section1 {
    padding: 15px 0px 15px 0px;
    color: #fff;
    height: 60px;
}

.section2 {
    background-color: #BCBCBC;
    padding: 15px 0px 15px 0px;
    height: 60px;
}

.section2 h3 {
        font-size: 30px;
        color: #757A74;
        font-weight: bold;
    }

.section3 {
    padding: 0px;
    background-color: #fff;
}

.section3 p {
        padding: 8px;
        margin: 0px;
        border-bottom: 1px solid #DDDDDD;
        color: #787C7D;
    }

.section4 {
    background-color: #F5F5F5;
    padding: 10px;
    height: 60px;
}

.section4 button {
        font-size: 15px;
    }

.plan-warning {
    border: 1px solid #EFAD4D;
    background-color: #EFAD4D;
}

.plan-success {
    border: 1px solid #5BB85D;
    background-color: #5BB85D;
}

.bookingsystem, tr, td {
    border: 1px solid #212529;
    background-color: white;
    text-align: center;
}

.booking-button {
    width: 160px;
    float: left;
    margin-top: 0.5rem;
}

.booking-button-main-div {
    width: 100%;
    padding: 10px;
    margin: 10px;
    height: 400px;
}

.booking-button-div {
    margin: 10px;
    padding: 10px;
}



